body{
    background-color: rgba(142, 138, 232, 0.1);
}
/* font style */

.inter-normal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared items style */
.primary-color{
    color: #4E47FF;
}
.primary-btn{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}
.txt-dec{
    text-decoration: none;
    color: #FFFFFF;
}
/* header style */
.nav-list{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0;
}

.items{
    list-style: none;
}

.items a{
    text-decoration: none;
}
.logo{
    font-weight: 900;
    font-size: 34px;
}

.banner{
    text-align: center;
}


.raleway-banner-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.desciption{
    font-weight: bold;
    font-size: 65px;
    margin: 150px 265px 37px 265px;
}

.stay-btn{
    margin-bottom: 200px;
}

.header{
    background-image: url(../Assets/Hero-bg.png);
    
}

/* action section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-container{
    display: flex;
    justify-content: space-between;
    margin-top: 115px;
    align-items: center;
}

.wc-mini{
    height: 320px;
    width: 400px;
    border-radius: 45px;
}

.section-collection-container{
    width: 500px;
}

.section-title{
    font-weight: bold;
    font-size: 42px;
    margin: 0px;
}

.section-description{
    font-size: 24px;
    color: #252432;
    margin-top: 23px;
    margin-bottom: 23px
}

/* this the productive users style */
.productive-users{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.box-title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 40px;
}

.section-box{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    margin-top: 115px;
}

.number{
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 9px;
}

.description{
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

/* feedback style user */


.user{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
}

.feedback-items{
    width: 360px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 24px;
}

.user-avatar{
    height: 40px;
    width: 40px;
    border-radius: 9999px;
}

.user-name{
    
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(37, 36, 50, 0.5);
}

.date{
    margin-top: 2px;
    font-size: 10px;
    color: rgba(37, 36, 50, 0.5);
}

.image-section{
    margin-bottom: 0px;
}

.card-title{
    margin-top: 24px;
    margin-bottom: 0px;
}

.card-description{
    margin-top: 8px;
}

.feed-container{
    display: flex;
    gap: 20px;
}

.feedback-section{
    margin-top: 130px;
}
.feedback-title{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
}
/* get in touch section */
.touch-title{
    font-weight: bold;
    font-size: 95px;
    width: 50%;
}
.get-touch{
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

main section form input[type="text"], main section form input[type="email"]{
    display: block;
    width: 240px;
    height: 20px;
    padding: 20px 30px;
    margin: 9px 0;
    border: none;
    border-radius: 10px;

}
main section form input[type="submit"]{
    width: 100%;

}
 main section form textarea{
    display: block;
    width: 240px;
    height: 70px;
    padding: 20px 30px;
    margin: 9px 0;
    border: none;
    border-radius: 10px;

}
main section form label{
    margin: 2px 0;
}


